<div class="row">
  <div class="col-lg-12 col-md-12">
      <div class="card">
  <div class="card-header card-header-success">
      <h4 class="card-title">My Job Postings</h4>
      <p class="card-category">Track Applications</p>
  </div>
  
  <div *ngIf="showJobTable" class="card-body table-responsive">
      <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search by role" #input>
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" class="table table-hover">
            <!-- ID Column -->
            <ng-container matColumnDef="jbId">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let element">{{element.jbId}}</td>
            </ng-container>
            <!-- Dept Column -->
            <ng-container matColumnDef="jbDept">
              <th mat-header-cell *matHeaderCellDef>Dept</th>
              <td mat-cell *matCellDef="let element">{{element.jbDept}}</td>
          </ng-container>
          <!-- Dept Column -->
          <ng-container matColumnDef="jbSubDept">
            <th mat-header-cell *matHeaderCellDef>SubDept</th>
            <td mat-cell *matCellDef="let element">{{element.jbSubDept}}</td>
        </ng-container>

            <!-- Job Title Column -->
            <ng-container matColumnDef="jbDesig">
                <th mat-header-cell *matHeaderCellDef>Designation</th>
                <td mat-cell *matCellDef="let element">{{element.jbDesig}}</td>
            </ng-container>
            <!-- Candidate Name Column -->
            <ng-container matColumnDef="jbPostDate">
                <th mat-header-cell *matHeaderCellDef>Date Posted</th>
                <td mat-cell *matCellDef="let element">{{element.jbPostDate}}</td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="jbHmName">
                <th mat-header-cell *matHeaderCellDef>HR/HM</th>
                <td mat-cell *matCellDef="let element">{{element.jbHmName}}</td>
            </ng-container>

     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <!-- <tr mat-row [routerLink]="['/view',row.ID]" *matRowDef="let row; columns: displayedColumns;"></tr> -->
     <tr mat-row (click)="onJobSelect(row.jbId)" *matRowDef="let row; columns: displayedColumns;"></tr>
      
        </table>

        <mat-paginator #paginator1 [hidden]="!showJobTable" [length]="openJobList.length"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>
        <!-- <button *ngIf="newreq==false"(click)="newreq=true;"mat-raised-button class="btn btn-success pull-right">New Post</button>
                      <div class="clearfix"></div> -->
        
        <!-- NEWWWWW REEQQQQQ-->




        <!-- NEWWWWW REEQQQQQ-->
  </div>
  <!-- <mat-card *ngIf="showDetails">Simple card</mat-card> -->
  <div *ngIf="showDetails" class="row">
    <div class="col-md-12">

            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-3">
                            <b>Job ID:</b> {{jbId}}
                          </div>
                        <div class="col-md-3">
                          <b>Dept:</b> {{jbDept}}
                        </div>
                        <div class="col-md-3">
                            <b>SubDept: </b> {{jbSubDept}}
                          </div>
                          </div>
                          <div class="row">
                          <div class="col-md-3">
                            <b>Designation: </b> {{jbDesig}}
                          </div>
                          <div class="col-md-3">
                            <b>HR/HM: </b> {{jbHmName}}
                          </div>
                          <div class="col-md-3">
                            <b>Date Posted: </b> {{jbPostDate}}
                          </div>
                          <br>
                          <table *ngIf="showPortal==false" mat-table [dataSource]="dataSource2" class="table table-hover">

                            <!-- ID Column -->
                            <ng-container matColumnDef="canId">
                                <th mat-header-cell *matHeaderCellDef>Candidate ID</th>
                                <td mat-cell *matCellDef="let element">{{element.can.canId}}</td>
                            </ng-container>
          
                            <!-- Name Column -->
                            <ng-container matColumnDef="canName">
                                <th mat-header-cell *matHeaderCellDef>Candidate Name</th>
                                <td mat-cell *matCellDef="let element">{{element.can.canName}}</td>
                            </ng-container>
                            <!-- Qual Column -->
                            <ng-container matColumnDef="canSkill">
                              <th mat-header-cell *matHeaderCellDef>Email</th>
                              <td mat-cell *matCellDef="let element">{{element.can.canEmail}}</td>
                          </ng-container>

                            <!-- Status Column -->
                            <ng-container matColumnDef="canStatus">
                                <th mat-header-cell *matHeaderCellDef>Status</th>
                                <td mat-cell *matCellDef="let element">{{element.can.canStatus}}</td>
                            </ng-container>

                            <!-- Feedback Column -->
                            <ng-container matColumnDef="Feedback">
                                <th mat-header-cell *matHeaderCellDef>Feedback</th>
                                <!-- <td mat-cell *matCellDef="let element"><button mat-button *ngIf="element.r1_feedback != ''" class="btn btn-warning" >View</button></td> -->
                                <td mat-cell *matCellDef="let element"><button mat-button class="btn btn-success" >View</button></td>
                            </ng-container>

                            <!-- Action Column -->
<ng-container matColumnDef="Action">
  <th mat-header-cell *matHeaderCellDef>Action</th>
  <td mat-cell *matCellDef="let element">
  <mat-form-field>
  <mat-label>Choose action</mat-label>
  <mat-select (selectionChange)="action[element.can.canId]=$event.value">
    <mat-option *ngFor="let action of actions" [value]="action">
      {{action}}
    </mat-option>
  </mat-select>
  </mat-form-field>
  </td>
  </ng-container>

  <!-- Button Column -->
  <ng-container matColumnDef="button">
    <th mat-header-cell *matHeaderCellDef></th>
    <!-- <td mat-cell *matCellDef="let element"><button mat-button *ngIf="element.r1_feedback != ''" class="btn btn-warning" >View</button></td> -->
    <td mat-cell *matCellDef="let element">
      
      <button mat-raised-button color="primary" type="submit" (click)=schedule(element) *ngIf="action[element.can.canId]=='Schedule'">SCHEDULE</button>
      <button mat-raised-button color="primary" type="submit" (click)=offer(element) *ngIf="action[element.can.canId]=='Offer'">OFFER</button>
      <button mat-raised-button color="primary" type="submit" (click)=reject(element) *ngIf="action[element.can.canId]=='Reject'">REJECTED</button>
    </td>
</ng-container>
                            

                            

                              

          
                            
          
                     <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                     <!-- <tr mat-row [routerLink]="['/view',row.ID]" *matRowDef="let row; columns: displayedColumns;"></tr> -->
                     <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                      
                        </table>
                      
                        
                    </div>
                    <mat-paginator #paginator2 [hidden]="!showDetails" [length]="availablePanelists.length"
                        [pageSize]="5"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page">
          </mat-paginator>
                    <button *ngIf="showPortal==false"(click)="showDetails=false;showJobTable=true;" mat-raised-button type="submit" class="btn btn-warning pull-right">Back</button>
                    
                    <div class="clearfix"></div>
                </form>
            </div>

            <div *ngIf="showPortal" class="card-body">

              <h5><b>Schedule Interview</b></h5>
              <div class="row">
              <div class="col-md-3"><b>Candidate ID:</b> {{scheduleWindowElement.can.canId}}</div>
              <div class="col-md-3"><b>Candidate Name:</b> {{scheduleWindowElement.can.canName}}</div>
                <div class="col-md-3"><b>Status:</b> {{scheduleWindowElement.can.canStatus}}</div>
                <div class="col-md-3"><b>Email:</b> {{scheduleWindowElement.can.canEmail}}</div>
              </div>
                <div class="col-md-6">
                  <mat-form-field>
      <mat-label>Interview Type</mat-label>
      <mat-select (selectionChange)="roundType=$event.value">
        <mat-option  *ngFor="let round of rounds" [value]="round">
          {{round}}
        </mat-option>
      </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Round number (Enter 1/2/3/...)</mat-label>
        <input matInput (input)="roundNumber = $event.data" type="number" >
      </mat-form-field>
    </div>



                  <div class="col-md-6">
                  <mat-form-field>
      <mat-label>Choose panelist</mat-label>
      <mat-select (selectionChange)="setPanelist($event.value,scheduleWindowPanelists,scheduleWindowPanelistIds,scheduleWindowElement)">
        <mat-option *ngFor="let pan of scheduleWindowPanelists" [value]="pan">
          {{pan}}
        </mat-option>
      </mat-select>
      </mat-form-field>
    </div>

    <div  class="col-md-6">
      <mat-form-field>
<mat-label>Choose slot</mat-label>

<mat-select (selectionChange)="setSlot($event.value,scheduleWindowPanelists,scheduleWindowPanelistIds,scheduleWindowElement)">
<mat-option *ngFor="let slot of candidateTimeSlot[scheduleWindowElement.can.canId]" [value]="slot">
{{slot}}
</mat-option>
</mat-select>
</mat-form-field>
</div>
<div class="row">
<div class="col-md-3">
    <button mat-raised-button color="primary" (click)="showPortal = false;saveSchedule()">Schedule</button></div>
            
    <div class="col-md-3">
      <button mat-raised-button color="primary" (click)="showPortal = false">Cancel</button></div>
          </div>
        </div>
    </div>
</div>

  </div>
  
  </div>
</div>

