<div>
  <mat-form-field>
    <!-- <label for="singleFile">Upload Inventory File</label> -->
    <input matInput hidden />
    <div class="row">
      <div class="col-md-10">
        <input
          type="file"
          (change)="this.onFilechange($event)"
          class="form-control"
          id="formFile"
        />
      </div>
      <div>
        <button
          float="right"
          mat-flat-button
          color="primary"
          (click)="uploadInventory()"
        >
          Upload Inventory
        </button>
      </div>
    </div>
  </mat-form-field>
</div>
