<div
  class="sidebar"
  data-color="danger"
  data-background-color="white"
  data-image="./assets/img/sidebar-1.jpg"
>
  <div class="logo">
    <a href="https://interviewmanager.azurewebsites.net/#/" class="simple-text">
      MSInterview Manager
    </a>
  </div>
  <div class="sidebar-wrapper">
    <div>
      <ul class="nav navbar-nav nav-mobile-menu">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">
            <i class="material-icons">dashboard</i>
            <p>
              <span class="d-lg-none d-md-block">Stats</span>
            </p>
          </a>
        </li>
      </ul>
    </div>
    <ul class="nav">
      <li class="nav-item" (click)="displayInv = false; showUpcoming()">
        <a class="nav-link" pageScroll>
          <i class="material-icons">upcoming</i>
          <p>Upcoming</p>
        </a>
      </li>
      <li class="nav-item" (click)="displayInv = false; showCompleted()">
        <a class="nav-link" pageScroll>
          <i class="material-icons">check</i>
          <p>Completed</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="displayInv = true; displayInventory()">
          <i class="material-icons">list_alt</i>
          <p>Display Inventory</p>
        </a>
      </li>
    </ul>
  </div>
  <div
    class="sidebar-background"
    style="background-image: url(./assets/img/sidebar-4.jpg)"
  ></div>
</div>
<div *ngIf="!displayInv" class="main-content">
  <div class="container-fluid card">
    <div class="row">
      <div class="col-3 offset-3">
        <app-upcoming-card [count]="upcomingList?.length"></app-upcoming-card>
      </div>
      <div class="col-3">
        <app-completed-card [count]="pastList?.length"></app-completed-card>
      </div>
    </div>
  </div>

  <div class="container-fluid card">
    <div class="card-header card-header-success">
      <h4 class="card-title">Upcoming Interviews</h4>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table
          *ngIf="!isPastSelected"
          mat-table
          [dataSource]="upcomingInterviewList"
          class="table table-hover"
        >
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Candidate ID</th>
            <td mat-cell *matCellDef="let element">{{ element.canId }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Candidate_Name">
            <th mat-header-cell *matHeaderCellDef>Candidate Name</th>
            <td mat-cell *matCellDef="let element">{{ element.canName }}</td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="Round">
            <th mat-header-cell *matHeaderCellDef>Round</th>
            <td mat-cell *matCellDef="let element">{{ element.intRound }}</td>
          </ng-container>

          <!-- Feedback Column -->
          <ng-container matColumnDef="Feedback">
            <th mat-header-cell *matHeaderCellDef>Feedback</th>
            <td mat-cell *matCellDef="let row">
              <button mat-button class="btn btn-sm" (click)="viewFeedback(row)">
                View Feedback
              </button>
            </td>
          </ng-container>

          <!-- R1 Column -->
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">
              {{ element.intDate | date: "short" }}
            </td>
          </ng-container>
          <!-- R2 Column -->

          <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef>Start Interview</th>
            <td mat-cell *matCellDef="let row">
              <button
                mat-button
                class="btn btn-sm btn-success"
                (click)="startInterview(row)"
              >
                Start
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="upcomingInterviewColumns"></tr>
          <!-- <tr mat-row [routerLink]="['/view',row.ID]" *matRowDef="let row; columns: displayedColumns;"></tr> -->
          <tr
            mat-row
            *matRowDef="let row; columns: upcomingInterviewColumns"
          ></tr>
        </table>

        <table
          *ngIf="isPastSelected"
          mat-table
          [dataSource]="pastInterviewList"
          class="table table-hover"
        >
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Candidate ID</th>
            <td mat-cell *matCellDef="let element">{{ element.canId }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Candidate_Name">
            <th mat-header-cell *matHeaderCellDef>Candidate Name</th>
            <td mat-cell *matCellDef="let element">{{ element.canName }}</td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="Round">
            <th mat-header-cell *matHeaderCellDef>Round</th>
            <td mat-cell *matCellDef="let element">{{ element.intRound }}</td>
          </ng-container>

          <!-- Feedback Column -->
          <ng-container matColumnDef="Feedback">
            <th mat-header-cell *matHeaderCellDef>Feedback</th>
            <td mat-cell *matCellDef="let row">
              <button mat-button class="btn btn-sm" (click)="viewFeedback(row)">
                View Feedback
              </button>
            </td>
          </ng-container>

          <!-- R1 Column -->
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">
              {{ element.intDate | date: "short" }}
            </td>
          </ng-container>
          <!-- R2 Column -->

          <tr mat-header-row *matHeaderRowDef="pastInterviewColumns"></tr>
          <!-- <tr mat-row [routerLink]="['/view',row.ID]" *matRowDef="let row; columns: displayedColumns;"></tr> -->
          <tr mat-row *matRowDef="let row; columns: pastInterviewColumns"></tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="displayInv" class="main-content">
  &nbsp;&nbsp;&nbsp;&nbsp;
  <h3>Inventory</h3>

  <mat-table id="inv" [dataSource]="dataSource3" class="table table-hover">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <!-- Dept Column -->
    <ng-container matColumnDef="topic">
      <th mat-header-cell *matHeaderCellDef>Topic/Subtopic</th>
      <td mat-cell *matCellDef="let element">
        {{ element.topic }}/{{ element.subtopic }}
      </td>
    </ng-container>
    <!-- Dept Column -->
    <!-- <ng-container matColumnDef="subtopic">
  <th mat-header-cell *matHeaderCellDef>SubDept</th>
  <td mat-cell *matCellDef="let element">{{element.subtopic}}</td>
</ng-container> -->

    <!-- Job Title Column -->
    <ng-container matColumnDef="diflevel">
      <th mat-header-cell *matHeaderCellDef>Difficulty</th>
      <td mat-cell *matCellDef="let element">{{ element.diflevel }}</td>
    </ng-container>
    <!-- Candidate Name Column -->
    <ng-container matColumnDef="minexp">
      <th mat-header-cell *matHeaderCellDef>Min Exp/Max Exp</th>
      <td mat-cell *matCellDef="let element">
        {{ element.minexp }}/{{ element.maxexp }}
      </td>
    </ng-container>

    <!-- Status Column -->
    <!-- <ng-container matColumnDef="maxexp">
      <th mat-header-cell *matHeaderCellDef>Max Exp.</th>
      <td mat-cell *matCellDef="let element">{{element.maxexp}}</td>
  </ng-container> -->

    <!-- Candidate Name Column -->
    <ng-container matColumnDef="question">
      <th mat-header-cell *matHeaderCellDef>Question</th>
      <td mat-cell *matCellDef="let element">{{ element.question }}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="expectedans">
      <th mat-header-cell *matHeaderCellDef>Expected Answer</th>
      <td mat-cell *matCellDef="let element">{{ element.expectedans }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
    <!-- <tr mat-row [routerLink]="['/view',row.ID]" *matRowDef="let row; columns: displayedColumns;"></tr> -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
  </mat-table>
</div>

<mat-paginator
  [hidden]="!displayInv"
  [length]="questionbank.length"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page"
>
</mat-paginator>
