<div class="main">
    <div class="row d-flex flex-row justify-content-center my-5">
    <div class="col-sm-4 mx-3">
      <div class="card">
        <img src="/assets/img/hr.png" alt="HR">
        <div class="card-body">
          <h5 class="card-title">HR/HM Portal</h5>
          <p class="card-text">Portal for Hiring Manager's/HR's and host the following features:</p>
          <ul>
              <li>View & Upload Inventory</li>
              <li>View & Upload Job Postings</li>
              <li>View & Upload Candidates</li>
              <li>Schedule Interviews</li>
              <li>View Candidate's Feedbacks</li>
          </ul>
          <button
            class="btn btn-primary"
            [routerLink]="['/admin/dashboard']"
            >Open</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mx-3">
      <div class="card">
        <img src="/assets/img/panelist.png" alt="panelist">
        <div class="card-body">
          <h5 class="card-title">Panelist Portal</h5>
          <p class="card-text">Portal for Panelist and host the following features:</p>
          <ul>
            <li>Browse scheduled interviews</li>
            <li>View suggested Questionnaire</li>
            <li>Add/Remove suggested questions</li>
            <li>Conduct interview</li>
            <li>Add/Update feedback</li>
        </ul>
          <button
            class="btn btn-primary"
            [routerLink]="['/dashboard/inventory']"
            >Open</button>
        </div>
      </div>
    </div>
  </div>
</div>