body {
    background-color: #00B0FF;
    background-image: -webkit-linear-gradient(65deg, #00B0FF 50%, #1976D2 50% );
}

.main{
    font-family: system-ui;
    font-weight: 400;
}

.btn{
    left: 35%;
}

.card-title{
    font-family: system-ui;
    font-weight: bold;
    font-size: 20px;
}

img {
    width: 200px;
    height: 200px;
    margin: auto;
}