body {
  background-color: #00b0ff;
  background-image: -webkit-linear-gradient(65deg, #00b0ff 50%, #1976d2 50%);
}

.main {
  font-family: system-ui;
  font-weight: 400;
}

// .btn {
//   left: 35%;
// }

.card-title {
  font-family: system-ui;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

img {
  width: 400px;
  height: 400px;
  margin: auto;
}
